/* stylelint-disable at-rule-no-unknown */

@import url("https://fonts.googleapis.com/css2?family=Tienne:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
    --font-body: "Inter", sans-serif;
    --font-highlight: "Tienne";

    --text-display-lg: 4.5rem;
    /* 72px */
    --text-display-md: 3.75rem;
    /* 60px */
    --text-display-sm: 3rem;
    /* 48px */

    --text-heading-lg: 1.5rem;
    /* 24px */
    --text-heading-md: 1.25rem;
    /* 20px */
    --text-heading-sm: 1rem;
    /* 16px */

    --text-subtitle-lg: 1rem;
    /* 16px */
    --text-subtitle-md: 0.75rem;
    /* 12px */
    --text-subtitle-sm: 0.5rem;
    /* 8px */

    --text-body-lg: 1rem;
    /* 16px */
    --text-body-md: 0.875rem;
    /* 14px */
    --text-body-sm: 0.75rem;
    /* 12px */

    --color-background: rgba(255, 255, 255, 1);
    /* @media (prefers-color-scheme: dark) {
        --color-background: rgba(24, 24, 27, 1);
    } */
    --color-on-background: #f9f9f9;

    --color-primary: rgba(239, 141, 37, 1);
    --color-secondary: rgba(205, 101, 101, 1);
    --color-accent: rgba(110, 204, 97, 1);
    --color-tertiary: rgba(81, 153, 255, 1);
    --color-error: rgba(255, 69, 58, 1);

    --color-gray: #d9d9d9;
    --color-light-gray: rgba(255, 255, 255, 0.5);

    --color-muted: rgba(107, 114, 128, 1);

    --color-navbar-gray: rgba(217, 217, 217, 0.5);
}

@layer base {
    body {
        @apply font-body text-body-lg;
        letter-spacing: -0.05em;
        line-height: auto;
    }

    /* Display */
    h1 {
        @apply text-display-md font-semibold;
    }

    /* Heading */
    h2 {
        @apply text-heading-md font-bold;
    }

    h3 {
        @apply text-heading-sm font-bold;
    }

    /* Subtitle */
    h4 {
        @apply text-subtitle-lg font-semibold;
    }

    h5 {
        @apply text-subtitle-md font-semibold;
    }

    /* Body */
    p {
        @apply text-body-lg;
    }

    small {
        @apply text-body-sm;
    }
}

@layer components {
    a {
        @apply hover:underline;
    }

    .modal {
        @apply fixed w-full h-full inset-0 z-50 bg-white/10 backdrop-filter backdrop-blur-[1.5px] border border-white/20 saturate-[150%] contrast-[80%];
    }

    .card {
        @apply flex flex-col gap-[10px] bg-on-background p-[20px] rounded-2xl border border-navbar-gray drop-shadow-[0px_4px_4px_rgba(0,0,0,0.25)];
    }

    .nav-button {
        @apply items-center justify-center rounded-full drop-shadow-[0_2px_4px_rgba(0,0,0,0.25)] cursor-pointer text-heading-md font-semibold;
    }

    .nav-item {
        @apply transition duration-100 ease-in-out px-[10px] rounded-full h-full cursor-pointer hover:bg-gray-700;
    }

    .button {
        @apply flex items-center justify-center rounded-lg drop-shadow-[0_2px_4px_rgba(0,0,0,0.25)] cursor-pointer text-body-lg font-bold size-auto transform origin-center transition-all duration-100 ease-in-out hover:scale-101 hover:shadow-lg px-4 py-2 gap-2 w-auto;
    }

    .input-box {
        @apply border border-gray-400 rounded-lg p-[10px] focus:outline-none focus:ring-2 focus:ring-primary;
    }

    .clickable {
        @apply cursor-pointer;
    }

    .checkbox {
        @apply w-4 h-4 text-blue-600 border-gray-300 rounded-full focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600;
    }

    .tag {
        @apply px-3 py-1 h-min whitespace-nowrap w-fit bg-gray rounded-full w-min text-subtitle-md font-semibold;
    }
}

@layer utilities {
    .flex-center {
        @apply flex items-center justify-center;
    }
}
